body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: $black !important;
}

.bg-grey {
  background-color: #e6e6e6 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

//pop up form related styles

.form-control {
  display: block;
  width: 100%;
  height: calc(1em + 1.75rem + 2px);
  padding: .875rem 1.125rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1;
  color: #69707a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5ccd6;
  border-radius: .35rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-solid, .form-control-solid:focus {
  background-color: #eef2f8;
}

.form-control-solid {
  border-color: #eef2f8;
}

.log-in-pop-up-wrp,
.sign-up-pop-up-wrp,
.registration-pop-up-wrp {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 650px;
  width: 100%;
  z-index: 1031;
  transform: translate(-50%, -50%);
  display: none;

  &.show {
    display: block;
  }

  // &::before {
  //   content: 'X';
  //   position: absolute;
  //   width: 50px;
  //   height: 50px;
  //   display: block;
  //   z-index: 1;
  //   background-color: #f5f5f5;
  //   top: 0;
  //   right: 0;
  //   text-align: center;
  //   line-height: 50px;
  //   font-size: 20px;
  //   cursor: pointer;
  // }
}

.pop-up-content {
  background-color: #fff;
  border-radius: 5px;
  padding: 45px 30px;
}

.pop-up-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #000;
  z-index: 9;
  opacity: 0.6;
  display: none;

  &.show {
    display: block;
  }
}

button {
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.login-button-wrp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.form-row {
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
}

.close-pop-up {
  margin-top: 65px;
  border-top: 1px solid #ddd;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.login-introduction h3 {
  margin-bottom: 50px;
}

.login-button {
  background-color: #28a745;
  color: #fff;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.4s;
  animation: animatezoom 0.4s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

//pop up form related styles


// footer styles
.footer-detail-wrp {
  border-bottom: 1px solid #ddd;
  padding: 35px 0 50px;
  margin-bottom: 25px;
}

.social-media ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  li {
    max-width: 40px;
    width: 100%;
    text-align: center;

    &.facebook {
      a:hover {
        color: #1877f2;
      }
    }

    &.linkedin {
      a:hover {
        color: #0e76a8;
      }
    }

    &.twitter {
      a:hover {
        color: #00acee;
      }
    }

    a {
      font-size: 24px;
      color: #212529;
      transition: color 0.2s ease-in-out;
    }
  }
}

.footer-logo {
  display: flex;
  align-items: center;
  // justify-content: center;

  a {
    font-size: 86px;
    line-height: normal;
    color: #fff;
    display: inline-block;
    opacity: 0.8;
  }
}

.contact-details {
  a {
    color: #212529;

    &:hover {
      text-decoration: underline;
    }
  }

  .address {
    margin-bottom: 15px;
  }

  .email {
    margin-bottom: 15px;
  }

  > div {
    position: relative;
    z-index: 1;
    padding-left: 35px;

    .icon {
      position: absolute;
      top: 2px;
      left: 0;
      z-index: 1;
    }
  }
}

// footer styles

// filteration section styles
.filteration {
  .filteration-wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 100px;

    span {
      font-size: 20px;
      font-weight: 700;
    }
  }

  .filter-selectors {
    display: flex;
    align-items: center;

    select {
      height: 50px;
      margin-right: 15px;
      min-width: 150px;
      padding: 0 10px;
      border-color: #ddd;
      color: #434343;
      outline: none;
      border-radius: 5px;
    }
  }
}
// filteration section styles

// card item styles
.card-wrp {
  .card-item {
    padding: 30px;
    border-radius: 4px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    margin-bottom: 40px;

    &:hover {
      box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.25);
      -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.25);
      -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.25);
    }

    .card-item-inner-wrp {
      .course-name {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 18px;
      }

      .course-description {
        margin-bottom: 20px;
      }

      .course-detail-outer-wrp {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .course-detail {
          div {
            font-weight: 600;
  
            span {
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
// card item styles